// placeholder for test, dont't remove it.

.theme-container
  //background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACFJREFUeNpiZGBg4GegAsBlCD8TqSYNQg2Mo6FEBAAIMACdPABtrSW/IQAAAABJRU5ErkJggg==")
  //background-repeat repeat
  //background-attachment fixed
  //min-height 100vh
  .page-nav .inner
    border-top 1px solid $accentColor

// a.sidebar-link.active
//   background-color tint($accentColor, 85%)
// .sidebar-sub-headers a.sidebar-link.active
//   background-color tint($accentColor, 90%)